<section ng-controller="PasswordsController">
    <h3>{{'SECURITY_PasswordsCredentials'|translate}}</h3>
    <p check-access>{{'SECURITY_Passwords_Description'|translate}} <a id="lnkEditPasswordSettings" ng-click="actions.edit_passwordssettings_modal()"><i class="glyphicon glyphicon-edit text-primary"></i>{{'GENERIC_Edit'|translate}}</a></p>
    <div class="row">
        <div class="col-xs-6">
            <div style="background: #f2f2f2; padding: 10px 20px;">
                <h3>{{'SECURITY_Password_ActiveUsers'|translate}}
                    <span id="userpopover" data-toggle="popover" data-placement="auto" data-container="body" data-content="{{viewmodel.usersTooltip}}" data-html="true">
                        <i class="ci ci-state-info2-core text-primary" aria-hidden="true"></i>
                    </span>
                </h3>
                <dl class="dl-horizontal dataList">
                    <dt style="font-weight: normal" ng-repeat="user in data.passwordSettings.activeUsers">{{user.name}}</dt>
                </dl>
            </div>
        </div>
        <div class="col-xs-6">
            <div style="background: #f2f2f2; padding: 10px 20px;">
                <h3>{{'SECURITY_Password_LocalUserDatabase'|translate}}</h3>
                <dl class="dl-horizontal dataList">
                    <dt style="font-weight: normal" ng-repeat="user in data.passwordSettings.localDB">{{user.name}}</dt>
                </dl>
            </div>
        </div>
    </div>
    <br />
</section>
