<div class="messages">
    <div class="text-danger" ng-message="minlength">{{'GETTINGSTARTEDWIZARD_Password_Short'|translate}}</div>
    <div class="text-danger" ng-message="maxlength">{{'GETTINGSTARTEDWIZARD_Password_Long'|translate}}</div>
    <div class="text-danger" ng-message="passwordMatcher">{{'GETTINGSTARTEDWIZARD_Password_Match'|translate}}</div>
    <div class="text-danger" ng-message="required">{{'GETTINGSTARTEDWIZARD_Required_Error'|translate}}</div>
    <div class="text-danger" ng-message="rangeValidator">{{'GETTINGSTARTEDWIZARD_OutOfRange_Error'|translate}}</div>
    <div class="text-danger" ng-message="ipValidator">{{'GETTINGSTARTEDWIZARD_InvalidIp_Error'|translate}}</div>
</div>
