<ng-form name="viewmodel.wizardCredentials.form" class="form-horizontal" novalidate>
    
    <h2>{{'GETTINGSTARTEDWIZARD_Credentials'|translate}}</h2>
    <p>{{'GETTINGSTARTEDWIZARD_Credentials_Description'|translate}}</p>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="username">{{'GETTINGSTARTEDWIZARD_UserName'|translate}}</label>
        <div class="col-sm-5">
            <!-- root is only possible value
                not editable
            -->
            <label class="col-sm-5 control-label" >{{viewmodel.wizardCredentials.username}}</label>
            <!--
            <input class="form-control input-medium" type="text" id="gsw_credentials_username" name="username" ng-model="viewmodel.wizardCredentials.username" ng-minlength="1" ng-maxlength="63" aria-describedby="usernamehelp" placeholder="username"
                required />
            <div ng-show="viewmodel.wizardCredentials.form.password.$dirty && !addUserForm.userName.$pristine" ng-messages="viewmodel.wizardCredentials.form.username.$error" ng-messages-include="views/messages.html"></div>
            -->
        </div>
        <div class="col-sm-4">
            <!--
            <span class="help-inline">
                <span id="usernamehelp" class="help-block">{{'GETTINGSTARTEDWIZARD_Username_Instructions'|translate}}</span>
            </span>
            -->
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="password">{{'GETTINGSTARTEDWIZARD_Password'|translate}}</label>
        <div class="col-sm-5">
            <input stopccp class="form-control input-medium" type="password" id="gsw_credentials_password" name="password" ng-model="viewmodel.wizardCredentials.password" ng-minlength="1" ng-maxlength="32" aria-describedby="passwordhelp" required />
            <div ng-show="viewmodel.wizardCredentials.form.password.$dirty && !viewmodel.wizardCredentials.form.password.$pristine" ng-messages="viewmodel.wizardCredentials.form.password.$error" ng-messages-include="views/messages.html"></div>
        </div>
        <div class="col-sm-4">
            <span class="help-inline">
                <span id="passwordhelp" class="help-block">{{'GETTINGSTARTEDWIZARD_Password_Instructions'|translate}}</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="password2">{{'GETTINGSTARTEDWIZARD_ReEnter_Password'|translate}}</label>
        <div class="col-sm-5">
            <input stopccp class="form-control input-medium" type="password" id="gsw_credentials_password2" name="password2" ng-model="viewmodel.wizardCredentials.password2" ng-minlength="1" ng-maxlength="32" password-matcher="viewmodel.wizardCredentials.password" ng-focus="true" required />
            <div ng-show="viewmodel.wizardCredentials.form.password2.$dirty && !viewmodel.wizardCredentials.form.password2.$pristine" ng-messages="viewmodel.wizardCredentials.form.password2.$error" ng-messages-include="views/messages.html"></div>
        </div>
        <div class="col-sm-4">
            <span class="help-inline">
                <span id="Span2" class="help-block">{{'GETTINGSTARTEDWIZARD_Password_Instructions'|translate}}</span>
            </span>
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="col-sm-3 control-label" for="password3">
            {{'GETTINGSTARTEDWIZARD_Enable_Password'|translate}} <span data-toggle="tooltip" data-placement="auto right" title="{{'GETTINGSTARTEDWIZARD_Credentials_Tooltip'|translate}}">
                <i class="ci ci-state-info2-core text-primary" aria-hidden="true"></i>
            </span>
        </label>
        <div class="col-sm-5">
            <input stopccp class="form-control input-medium" type="password" id="password3" name="password3" ng-model="viewmodel.wizardCredentials.password3" ng-minlength="1" ng-maxlength="32" aria-describedby="passwordhelp" required />
            <div ng-show="viewmodel.wizardCredentials.form.password3.$dirty && !viewmodel.wizardCredentials.form.password3.$pristine" ng-messages="viewmodel.wizardCredentials.form.password3.$error" ng-messages-include="views/messages.html"></div>
        </div>
        <div class="col-sm-4">
            <span class="help-inline">
                <span class="help-block">{{'GETTINGSTARTEDWIZARD_Password_Instructions'|translate}}</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="password4">{{'GETTINGSTARTEDWIZARD_ReEnter_Enable_Password'|translate}}</label>
        <div class="col-sm-5">
            <input stopccp class="form-control input-medium" type="password" id="password4" name="password4" ng-model="viewmodel.wizardCredentials.password4" ng-minlength="1" ng-maxlength="32" password-matcher="viewmodel.wizardCredentials.password3" ng-focus="true" required />
            <div ng-show="viewmodel.wizardCredentials.form.password4.$dirty && !addUserForm.password4.$pristine" ng-messages="viewmodel.wizardCredentials.form.password4.$error" ng-messages-include="views/messages.html"></div>
        </div>
        <div class="col-sm-4">
            <span class="help-inline">
                <span id="Span4" class="help-block">{{'GETTINGSTARTEDWIZARD_Password_Instructions'|translate}}</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 help-inline help-block">{{'VALIDATIONMESSAGES_requiredField'|translate}}</label>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-4">
        </div>
    </div>

</ng-form>
