<ng-form name="viewmodel.wizardSNMP.form" class="form-horizontal" novalidate>
    
        <h2>{{'GETTINGSTARTEDWIZARD_SNMP_Title'|translate}}</h2>
        <p>{{'GETTINGSTARTEDWIZARD_SNMP_Description'|translate}}</p>

            <div class="form-group">
                <label class="col-xs-4 control-label">{{'GETTINGSTARTEDWIZARD_SNMP_Mode'|translate}}</label>
                <div class="col-xs-8">
                    <label class="radio-inline">
                        <input id="radioSNMPEnabled" name="radioSNMPEnabled" type="radio" ng-model="viewmodel.wizardSNMP.mode" value="enabled">
                        {{'GENERIC_Enabled'|translate}}
                    </label>
                    <label class="radio-inline">
                        <input id="radioSNMPDisabled" name="radioSNMPDisabled" type="radio" ng-model="viewmodel.wizardSNMP.mode" value="disabled">
                        {{'GENERIC_Disabled'|translate}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div ng-if="viewmodel.wizardSNMP.mode == 'enabled'">    
		     <div class="form-group">
                        <label class="col-xs-4 control-label">{{'GETTINGSTARTEDWIZARD_SNMP_String'|translate}}</label>
                        <div class="col-xs-8">
                            <input id="commstring" type="text" name="commstring" class="form-control" placeholder="community string required" ng-model="viewmodel.wizardSNMP['comm-string']" ng-minlength="1" ng-maxlength="20" required/>
                            <div ng-show="viewmodel.wizardSNMP.form.commstring.$dirty && !viewmodel.wizardSNMP.form.commstring.$pristine" ng-messages="viewmodel.wizardSNMP.form.commstring.$error" ng-messages-include="views/messages.html"></div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="form-group">
                <div ng-if="viewmodel.wizardSNMP.mode == 'disabled'" ng-class="{disabledText: viewmodel.wizardSNMP.mode == 'disabled'}">
		     <div class="form-group">
                        <label class="col-xs-4 control-label">{{'GETTINGSTARTEDWIZARD_SNMP_String'|translate}}</label>
                        <div class="col-xs-8">
                            <input id="commstringDisabled" type="text" class="form-control" placeholder="community string" ng-model="viewmodel.wizardSNMP['comm-string']" ng-disabled="viewmodel.wizardSNMP.mode == 'disabled'"  />
                        </div>
                     </div>
                </div>
            </div>
                        
</ng-form>
