<section>
    <div id="gsw-home-errors"></div>
    <h2>{{'GETTINGSTARTEDWIZARD_Welcome'|translate}}</h2>
    <p>{{'GETTINGSTARTEDWIZARD_Welcome_Description'|translate}}</p>
    <h4>{{'GETTINGSTARTEDWIZARD_Welcome_Info'|translate}}</h4>
    <ul>
        <li>{{'SETTINGS_GlobalSettings_IOAmode'|translate}}</li>
        <li>{{'GETTINGSTARTEDWIZARD_Welcome_IP'|translate}}</li>
        <li>{{'GETTINGSTARTEDWIZARD_Welcome_Username'|translate}}</li>
        <li>{{'GETTINGSTARTEDWIZARD_Welcome_SNMP'|translate}}</li>
    </ul>
</section>
