<div id="modal_uplinkPortsConfirm">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4">
                    <h1>
                        <i class="ci ci-nav-warn-core warning" aria-hidden="true"></i>
                    </h1>
                </label>
                <div class="col-md-8">
                    <p>
                        <label class="">{{'PORTCONFIGURATION_ConfirmMsg'|translate}}</label>
                    </p>                    
                </div>
            </div>
        </div>
    <br />
    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button id="btnSaveUplinkPorts" type="button" class="btn btn-primary" ng-click="actions.save_uplilnkPorts_Confirm()">{{'DASHBOARD_ModeSettings_Reboot'|translate}}</button>
            </li>
            <li>
                <button id="btnCancelUplinkPorts" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
            </li>
        </ul>
    </footer>
</div>
