<section id="modal_PasswordsSettings">
    <div id="password-errors"></div>
    <div class="form-horizontal">
        {{'SECURITY_PasswordSettings_Description'|translate}}
            <br />
        <br />

        <ul class="list-inline pull-left text-left">
            <li>
                <button id="btnOpenAddUserModal" type="button" class="btn btn-link" ng-click="actions.openAddUserModal()" ng-disabled="!viewmodel.localUserDb.users || viewmodel.localUserDb.users.length >= 64">
                    <i class="glyphicon glyphicon-plus" />{{'GENERIC_Add'|translate}}</button></li>
            <li>
                <button id="btnOpenEditUserModal" type="button" class="btn btn-link" ng-click="actions.openEditUserModal()" ng-disabled="actions.getNoUsersSelected() > 1 || actions.getNoUsersSelected() < 1">
                    <i class="glyphicon glyphicon-edit"></i>{{'GENERIC_Edit'|translate}}</button></li>
            <li>
                <button id="btnDeleteUser" type="button" class="btn btn-link" ng-click="actions.deleteUser()" ng-disabled="actions.getNoUsersSelected() < 1">
                    <i class="ci ci-delete-trash-core" />{{'GENERIC_Delete'|translate}}</button></li>
        </ul>
        <br />
        <div class="row">
            <div class="col-sm-12" style="overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; text-wrap: none">
                <table class="table table-striped table-condensed table-hover" st-skip-natural="true" st-table="data.displayeduserdata" st-safe-src="viewmodel.localUserDb.users">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{'GENERIC_UserID'|translate}}</th>
                            <th>{{'GENERIC_UserName'|translate}}</th>
                            <th>{{'SECURITY_Password_AccessLevel'|translate}}</th>
                            <th>{{'SECURITY_Password_LoginStatus'|translate}}</th>
                            <th>{{'SECURITY_Password_Protocol'|translate}}</th>
                            <th>{{'GENERIC_location'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="row in [] | range:64">-->
                        <tr ng-repeat="user in data.displayeduserdata">
                            <td ng-if="user.usrName != 'root'">
                                <input id="chkUserSelected" type="checkbox" ng-value="user" ng-model="user.selected" ng-disabled="!user" />
                            </td>
                            <td ng-if="user.usrName == 'root'">&nbsp;</td>
                            <td>{{user.usrId}}</td>
                            <td>{{user.usrName}}</td>
                            <td>{{user.accessLvl}}
                                <span ng-if="user.accessLvl == 1">{{'SECURIY_Password_ReadOnly'|translate}}</span>
                                <span ng-if="user.accessLvl == 15">{{'SECURIY_Password_ReadWrite'|translate}}</span>
                            </td>
                            <td ng-if="user.usrLoc && user.usrLoc.length > 0">{{'SECURITY_LoggedIN'|translate}}</td>
                            <td ng-if="!user.usrLoc || user.usrLoc.length <= 0">{{'SECURITY_LoggedOFF'|translate}}</td>
                            <td>
                                <ul style="list-style-type: none; padding-left: 0" ng-repeat="loc in user.usrLoc">
                                    <li>{{loc.protocol}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type: none; padding-left: 0" ng-repeat="loc in user.usrLoc">
                                    <li>{{loc.loc}}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        <i class="ci ci-nav-Info-core text-primary"></i>
                        <span>{{viewmodel.localUserDb.users.length}} {{'SECURITY_Of64UsersCreated'|translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button id="btnCancelPasswordModal" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
            </li>
        </ul>
    </footer>
</section>
