<div id="modal_EditUser">
    <div id="edit-user-errors"></div>
    <p>{{'SECURITY_Passwords_Add_Description'|translate}}</p>
    <br />
    <form name="userPasswordForm" novalidate class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_Password_User_ID'|translate}}</label>
            <div class="col-md-6">
                <p>{{viewmodel.existingUser.usrId}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'GETTINGSTARTEDWIZARD_UserName'|translate}}</label>
            <div class="col-md-6">
                <p>{{viewmodel.existingUser.usrName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_Password_PrivilegeLevel'|translate}}</label>
            <div class="col-md-8">
                <div class="col-md-4">
                    <div class="radio">
                        <label>
                            <input id="radioAccessLvl1" type="radio" ng-value="1" ng-model="viewmodel.existingUser.accessLvl" />
                            {{'SECURITY_1_ReadOnly'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio">
                        <label>
                            <input id="radioAccessLvl15" type="radio" ng-value="15" ng-model="viewmodel.existingUser.accessLvl" />
                            {{'SECURITY_15_ReadWrite'|translate}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_UserPassword'|translate}}</label>
            <div class="col-md-6">
                <input stopccp id="edit_user_password" type="password" name="password" class="form-control" ng-model="viewmodel.existingUser.password" required ng-minlength="1" ng-maxlength="32" />
                <div ng-show="userPasswordForm.password.$dirty && !userPasswordForm.password.$pristine" ng-messages="userPasswordForm.password.$error" ng-messages-include="views/messages.html"></div>
            </div>
            <div class="col-sm-2">
                <span class="help-inline text-left"><span class="help-block">{{'SECURITY_Range132Characters'|translate}}</span></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'GENERIC_ConfirmPassword'|translate}}</label>
            <div class="col-md-6">
                <input stopccp id="edit_user_confirmpassword" type="password" name="confirmPwd" class="form-control" ng-model="viewmodel.existingUser.confirmPwd" password-matcher="viewmodel.existingUser.password" required />
                <div ng-show="userPasswordForm.confirmPwd.$dirty && !userPasswordForm.confirmPwd.$pristine" ng-messages="userPasswordForm.confirmPwd.$error" ng-messages-include="views/messages.html"></div>
            </div>
        </div>
        <br />
        <footer>
            <ul class="list-unstyled list-inline text-right">
                <li>
                    <button id="btnUpdateUser" type="button" ng-disabled="userPasswordForm.$invalid" class="btn btn-primary" ng-click="actions.save()">{{'GENERIC_Apply'|translate}}</button>
                </li>
                <li>
                    <button id="btnCancelUpdateUser" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
                </li>
            </ul>
        </footer>
    </form>
</div>
