<div id="modal_TacacsSettings">
    <div class="form-horizontal">
        {{'SECURITY_TacacsSettings_Description'|translate}}
        <br />
        <br />
        <div class="form-group">
            <label class="col-md-4">{{'GENERIC_Number'|translate}}</label>
            <div class="col-md-6">
                <p>{{viewmodel.existingTacacs.number}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'GENERIC_Source'|translate}}</label>
            <div class="col-md-6">
                <input id="radioSourceIP" type="radio" class="form-control" ng-model="viewmodel.existingTacacs.source" value="ip" />
                {{'GENERIC_IpAddress'|translate}}
                    &nbsp;
                <input id="radioSourceHostname" type="radio" class="form-control" ng-model="viewmodel.existingTacacs.source" value="hostname" />
                {{'DASHBOARD_HostName_HostName'|translate}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_SourceIPOrHost'|translate}}</label>
             <!--If source is an IP-->
            <div class="col-md-6" ng-if="viewmodel.existingTacacs.source == 'ip'">
                <input id="sourceip" type="text" class="form-control" ng-model="viewmodel.existingTacacs.sourceIp" placeholder="192.168.2.1" />
            </div>
              <!--If source is a hostname-->
            <div class="col-md-6" ng-if="viewmodel.existingTacacs.source == 'hostname'">
                <input id="hostname" type="text" class="form-control" ng-model="viewmodel.existingTacacs.hostName" placeholder="hostname" />
            </div>
            <span class="help-inline text-left" ng-if="viewmodel.newTacacs.source == 'ip'"><span class="help-block">{{'SECURITY_Radius_SourceIPEx'|translate}}</span></span>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_Radius_KeyString'|translate}}</label>
            <div class="col-md-6">
                <input stopccp id="keystring" type="password" class="form-control" ng-model="viewmodel.existingTacacs.keystring" placeholder="no data" />
            </div>
            <span class="help-inline text-left"><span class="help-block">{{'SECURITY_Range042Characters'|translate}}</span></span>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_TCPPort'|translate}}</label>
            <div class="col-md-6">
                <input id="tcpport" type="number" class="form-control" ng-model="viewmodel.existingTacacs.tcpPort" placeholder="49" />
            </div>
            <span class="help-inline text-left"><span class="help-block">{{'SECURITY_Range165535'|translate}}</span></span>
        </div>
        <div class="form-group">
            <label class="col-md-4">{{'SECURITY_Radius_Timeout'|translate}}</label>
            <div class="col-md-6">
                <input id="timeout" type="text" class="form-control" ng-model="viewmodel.existingTacacs.timeOut" placeholder="1" />
            </div>
            <span class="help-inline text-left"><span class="help-block">{{'SECURITY_Range11000'|translate}}</span></span>
        </div>
        <br />
        <footer>
            <ul class="list-unstyled list-inline text-right">
                <li>
                    <button id="btnSaveEditTACACS" type="button" class="btn btn-primary" ng-click="actions.save()">{{'GENERIC_Apply'|translate}}</button>
                </li>
                <li>
                    <button id="btnCancelEditTACACS" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
                </li>
            </ul>
        </footer>
    </div>
</div>
