<div id="modal_ModeSettingsConfirm">
    <div class="form-horizontal">
        <br />
        <div class="form-group">
            <label class="col-md-4">
                <h1>
                    <i class="ci ci-nav-warn-core warning" aria-hidden="true"></i>
                </h1>
            </label>
            <div class="col-md-8">
                <p>
                    <label class="">{{'GETTINGSTARTEDWIZARD_IOA_Reboot_Msg'|translate}}</label>
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    <label class="">{{'GETTINGSTARTEDWIZARD_IOA_Reboot_Msg1'|translate}}</label>
                </p>
            </div>
        </div>
    </div>
    <br />
    <footer>
        <ul class="list-unstyled list-inline text-right">
            <li>
                <button id="btnConfirmIOAReboot" type="button" class="btn btn-primary" ng-click="actions.">{{'DASHBOARD_ModeSettings_Reboot'|translate}}</button>
            </li>
            <li>
                <button id="btnCancelIOAReboot" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
            </li>
        </ul>
    </footer>
</div>
