<!--<div id="settings_NTP_modal">

    <form name="defaultRestore" novalidate>
        <div class="form-horizontal">
            {{'SETTINGS_DefaultConfig_Modal_Description'|translate}}
        <br />
            <br />
            <br />
            <p class="alert alert-info" role="alert">{{'SETTINGS_DefaultConfig_Modal_Warning'|translate}}</p>

            <br />


            <label class="col-xs-4 checkbox-inline">{{'SETTINGS_DefaultConfig_Modal_IOAConfig'|translate}}</label>
            <div class="col-xs-8">
                <input id="restoreselected" type="checkbox" ng-model="data.restoreSelected" required/>
            </div>


            <br />
        </div>
        <footer>
            <ul class="list-unstyled list-inline text-right">
                <li>
                    <button id="btnSaveDefaultConfig" type="button" class="btn btn-primary" ng-disabled="defaultRestore.$invalid" ng-click="actions.save()">{{'GENERIC_Apply'|translate}}</button>
                </li>
                <li>
                    <button id="btnCancelDefaultConfig" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
                </li>
            </ul>
        </footer>
    </form>

</div>-->
