<div id="igmp_modal">
    <div id="igmp-errors"></div>
    <form class="form-horizontal">

        <p>{{'NETWORKCONFIGURATION_IGMP_Modal_Description'|translate}}</p>
        <br />
        <br />

        <div class="form-group">
            <label class="col-xs-4 control-label">{{'NETWORKCONFIGURATION_IGMP_Snooping'|translate}}</label>
            <div class="col-xs-8">
                <div class="col-xs-8">
                    <label class="radio-inline">
                        <input type="radio" id="igmpsnoopingenable" value="enabled" ng-disabled="true" ng-model="viewmodel.igmpSettings.igmpSnooping">
                        {{'GENERIC_Enabled'|translate}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="igmpsnoopingdisable" value="disabled" ng-disabled="true" ng-model="viewmodel.igmpSettings.igmpSnooping">
                        {{'GENERIC_Disabled'|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label">{{'NETWORKCONFIGURATION_IGMP_FloodRestrict'|translate}}</label>
            <div class="col-xs-8">
                <div class="col-xs-8">
                    <label class="radio-inline">
                        <input type="radio" id="igmpfloodrestrictenable" value="enabled" ng-model="viewmodel.igmpSettings.igmpFloodRestrict">
                        {{'GENERIC_Enabled'|translate}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="igmpfloodrestrictdisable" value="disabled" ng-model="viewmodel.igmpSettings.igmpFloodRestrict">
                        {{'GENERIC_Disabled'|translate}}
                    </label>
                </div>
            </div>
        </div>
        <br />
        <br />
        <footer>
            <ul class="list-unstyled list-inline text-right">
                <li>
                    <button id="btnSaveIGMP" type="button" class="btn btn-primary" ng-click="actions.save()">{{'GENERIC_Apply'|translate}}</button>
                </li>
                <li>
                    <button id="btnCancelIGMP" type="button" class="btn btn-default" ng-click="actions.cancel()">{{'GENERIC_Cancel'|translate}}</button>
                </li>
            </ul>
        </footer>

    </form>

</div>
